{{#extends "base"}}

{{#block "content"}}
<h1>Financial Advisory CRM</h1>
<p>Welcome, where your financial goals are our top priority.
We provide trusted, personalized financial advice to help individuals and businesses plan, grow, and protect their wealth. Whether you're preparing for retirement, managing investments, or seeking comprehensive financial strategies, our experienced advisors are here to guide you every step of the way.</p>
{{/block}}

{{/extends}}