{{!-- usually index.hbs shows all the rows in the table --}}

{{#extends "base"}}

{{#block "content"}}
<h1>All Customers</h1>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Rating</th>
            <th>Company ID</th>
        </tr>
    </thead>
    <tbody>
        {{#each customers}}
        {{!-- kinda does a for loop for each customers repeat the 4 td --}}
        <tr>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.rating}}</td>
            <td>{{this.name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>



{{/block }}

{{/extends }}